<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
    <ion-button (click)="onAdmin()" slot="end" color="light">
      <ion-icon slot="start" name="log-in-outline"></ion-icon>
      Administrar
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <strong>Welcome</strong>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>ESTUDIANTE: Gregorix</p>
    <strong>2018-6498</strong>
    <ion-button (click)="onAdmin()">
      ADMINISTRAR

    </ion-button>
  </div>
</ion-content>

